.article-tile {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .article-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  .article-tile__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .article-tile__content {
    padding: 20px;
    text-align: left;
  }
  
  .article-tile__title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007BFF;
  }
  
  .article-tile__description {
    font-size: 14px;
    color: #555555;
    margin-bottom: 15px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* .dish-tile__time {
    font-size: 14px;
    color: #777777;
  } */
  /* .article-tile__link {
    text-decoration: none;
    color: inherit;
  } */
  
  .article-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }